.footer
{
    
    display: flex;
    background-color: #022C5C;
    padding: 30px;
    margin: 0;
    justify-content: space-between;
    margin-top:30px;

}



.redes-container
{
    display: flex;
    gap: 10px;
}



.linkedin
{
    max-width: 10px;
    height: 10px;

}

.linkedin img
{
    max-width: 20px;
    height: 20px;
}

.logo-container a
{
    color: #FFF;

    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logoBlanco
{
    height: 30px;
}