.navbar {
    position:fixed ; 
    background: #FFF;
    box-shadow: 0px 12px 12px -8px rgba(7, 7, 7, 0.16), 0px 0px 4px 0px rgba(7, 7, 7, 0.16);
    display: flex;
    justify-content: space-between;
    z-index: 300;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    color: #1B2D54;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin: 0;/*
    ma 111.111% */


}


.menu
{
    align-items: center;
    display: flex;
    list-style: none;
    padding-right: 45px;
    gap:19px;

}

nav ul li a {
    color: var(--darkBlue);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;

}


nav ul li a:hover {
    border: solid 4px var(--darkBlue);
    background-color: var(--darkBlue);
    color: white;

}




.logo
{
    padding-left: 25px;
    background-image: url("../../assets/logo.jpeg");
    list-style: none;
    
}
.logo-img
{
    height: 70px;
}